html,
body {
  height: 100%;
  margin: 0;
}

.logo {
  height: 80px;
  width: auto;
}

nav {
  display: flex;
  justify-content: space-between;
  padding-left: 15rem;
  padding-right: 15rem;
}

nav a {
  text-decoration: none;
  color: black;
  padding-top: 2rem;
}

/* HEADER */
.header-container {
  background-color: white;
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 15rem;
  padding-right: 15rem;
}

.header-container h1 {
  font-size: 3rem;
  margin: auto;
}

.header-container p {
  font-size: 1.5rem;
  color: #1d5523;
}

/* MAIN */
.recettes-container {
  background-color: rgb(185, 200, 158);
  margin: auto;
  padding-top: 3rem;
  border-radius: 20px;
  padding-bottom: 1.5rem;
  padding-left: 15rem;
  padding-right: 15rem;
}

.recettes-container p {
  color: rgb(129, 139, 111);
}

/* CARDS */
.recettes-cards {
  display: flex;
  flex-direction: wrap;
  gap: 35px;
  justify-content: center;
}

.recette-bol {
  background-color: whitesmoke;
  border: 3 px solid #7db466;
  border-radius: 10px;
  /* padding: 20px; */
  padding-top: 0;
  width: 300px;
  height: 350px;
  overflow: hidden;
}

.recette-bol img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
  display: block;
  border-radius: 10px;
}

.text-cards {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 30px;
  line-height: 5px;
}
#name {
  padding-top: 20px;
}

.text-cards h1 {
  margin: auto;
}

.text-cards p {
  padding-bottom: 20px;
  margin: auto;
  line-height: 1rem;
}

.category-btn {
  background-color: rgb(185, 200, 158);
  border-radius: 20px;
  margin-top: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 10px;
  padding-right: 10px;
  color: #1d5523;
}

/* FOOTER */
footer {
  color: #7db466;
  background-color: black;
  height: 5rem;
}

footer {
  text-align: center;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  line-height: 2rem;
}

footer a {
  color: #7db466;
  text-decoration: none;
}

footer p {
  margin: auto;
}